#parse( "azkaban/web/pages/header.vm" )
      <script type="text/javascript" src="${context}/static/js/jquery.js"></script>
      <script type="text/javascript" src="${context}/static/js/jquery.cookie.js"></script>
   	  <script type="text/javascript" src="${context}/static/js/jquery/jquery.tools.min.js"></script>
   	  <script type="text/javascript" src="${context}/static/js/azkaban-exectable.js"></script>
   	  <script type="text/javascript" src="${context}/static/js/azkaban-history.js"></script>      
      <script type="text/javascript">
      	var contextURL = "${context}";
      	var execution = ${jsonExecution};
      	var currentTime = ${currentTime};
      	var timezone = "${timezone}";
		var persistVar = "azExHistory";

		$(function () {
			
			var persisted = getLastPersisted();
			$("#execTable").azExecTable({
				'data': execution,
				'style': 'tableHistory jobtable translucent',
				'headerRowfunc': headerRowfunc,
				'dataTablefunc': dataTablefunc,
				'dataRowfunc': dataRowfunc,
				'lastExpanded': persisted,
				'prepareChildData': prepareChildData,
				'prepareRowResults': prepareRowResults
			});
			
			presetToggle(persisted);
		});

      </script>
  </head>
  <body>
    #parse( "azkaban/web/pages/nav.vm" )
    
    <div id="main">
        <h2 class="title" >History</h2>
  	    <div id="variableWidth">
  	        #messages()
  	       <div class="box">
  	       <h3>Execution History</h3>
             <form method="get">
               <input type="hidden" name="action" value="search" />
               <input type="text" name="job" />
               <input type="submit" value="Search" />
             </form>
  		        <table id="execTable" class="tableHistory jobtable translucent">
  		          <colgroup>
  		          	<col class="execid"/>
  		          	<col class="titlecol"/>
  		          	<col class="datetime"/>
  		          	<col class="datetime"/>
  		          	<col class="duration"/>
  		          	<col class="status"/>
   		          	<col class="action"/>
  		          </colgroup>
		          <tr>
		            <th>Id</th>
		            <th>Name</th>
		            <th>Started (${timezone})</th>
		            <th>Ended (${timezone})</th>
		            <th>Elapsed</th>
		            <th>Status</th>
		            <th>Action</th>
		          </tr>
		         </table>
         		 #if($executions.size() == 0)
			       No Job history.
			     #end
		      	 <div class="pagination">
		          #if($begin > 0)
		            <a href="${context}/history?begin=$utils.max(0, $utils.sub($begin, $size))&amp;size=${size}">
		              Previous &middot;
		            </a>
		          #end
		          <a href="${context}/history?begin=${utils.add($begin, $size)}&size=${size}">
		            Next
		          </a> 
		        </div>
  	       </div>
  	    </div>
  	</div>
    <div><p class="currentTime">Current Time: $utils.formatDateTimeAndZone($utils.now)</p></div>
  </body>
</html>