#parse( "azkaban/web/pages/header.vm" )
      <script type="text/javascript" src="${context}/static/js/jquery.js"></script>
      <script type="text/javascript" src="${context}/static/js/jquery.cookie.js"></script>
   	  <script type="text/javascript" src="${context}/static/js/jquery/jquery.tools.min.js"></script>
   	  <script type="text/javascript" src="${context}/static/js/azkaban-exectable.js"></script>
   	  <script type="text/javascript" src="${context}/static/js/azkaban-history.js"></script>      
      <script type="text/javascript">
      	var contextURL = "${context}";
      	var execution = ${jsonExecution};
      	var currentTime = ${currentTime};
      	var timezone = "${timezone}";
		var persistVar = "azExHistory";

		$(function () {
			
			var persisted = getLastPersisted();
			$("#execTable").azExecTable({
				'data': execution,
				'style': 'tableHistory jobtable translucent',
				'headerRowfunc': headerRowfunc,
				'dataTablefunc': dataTablefunc,
				'dataRowfunc': dataRowfunc,
				'lastExpanded': persisted,
				'prepareChildData': prepareChildData,
				'prepareRowResults': prepareRowResults
			});
			
			presetToggle(persisted);
		});

      </script>
  </head>
  <body>
    #set($current_page="history")
    #parse( "azkaban/web/pages/nav.vm" )
  
    <div class="content">
      <div class="messaging"></div>
      <div class="section-hd">
        <h2>History</h2>

        <form method="get">
          <input type="hidden" name="action" value="search">
          <input type="submit" value="Search" class="search-btn">
          <input type="text" placeholder="by job name or wildcard" value="" class="search-input" name="job">

          <fieldset class="filter_statuses">
          <label for="filter_status">Filter by</label>
          <select name="filter_status">
            <option value="all">All</option>
            <option value="success">Success</option>
            <option value="failure">Failure</option>
            <option value="running">Running</option>
          </select>
          </fieldset>
        </form>
      </div>

      #if($executions.size() == 0)
			  <p class="no-jobs">No Job history.</p>
      #else
      <table id="execTable" class="job-history job-table">
      	<thead>
      		<tr>
      			<th class="tb-id">Id</th>
      			<th class="tb-job-name">Name</th>
      			<th class="tb-start-time">Started (${timezone})</th>
      			<th class="tb-end-time">Ended (${timezone})</th>
            <th class="tb-id">Elapsed</th>
      			<th class="tb-job-name">Status</th>
      			<th class="tb-start-time">Action</th>
      		</tr>
      	</thead>
      	<tbody>
        </tbody>
      </table>
			#end
    </div><!-- end content -->
		      	 <div class="pagination">
		          #if($begin > 0)
		            <a href="${context}/history?begin=$utils.max(0, $utils.sub($begin, $size))&amp;size=${size}">
		              Previous &middot;
		            </a>
		          #end
		          <a href="${context}/history?begin=${utils.add($begin, $size)}&size=${size}">
		            Next
		          </a> 
		         </div>
    <div><p class="currentTime">Current Time: $utils.formatDateTimeAndZone($utils.now)</p></div>
#parse( "azkaban/web/pages/footer.vm" )