#macro(execing_job $desc)
  <li>
    <a class="job-name" href="${context}/job?id=${desc.name}&logs" title="${desc.name}">
      $desc.name
    </a>
    #if($desc.hasChildren())
      <ul>
        #foreach($subjob in $desc.children)
          #execing_job($subjob)
        #end
      </ul>
    #end
  </li>
#end

#macro(formatPeriod $period)
  #if($utils.isNull($period))
    none
  #else
    $utils.formatPeriod($period)
  #end
#end

#parse( "azkaban/web/pages/header.vm" )
    
    <link rel="stylesheet" type="text/css" href="${context}/static/css/azkaban-common.css"/>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/azkaban-charts.css"/>
    <link rel="stylesheet" type="text/css" href="${context}/static/css/azkaban-history.css"/>
    <link rel="stylesheet" type="text/css" href="${context}/static/js/jqueryui/themes/custom-theme/jquery-ui.custom.css"></link>
    
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.jstree.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.tools.min.js"></script>
    <script type="text/javascript" src="${context}/static/js/jqueryui/jquery.ui.datepicker.min.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery-treeview/jquery.treeview.js"></script>
    <script type="text/javascript" src="${context}/static/js/jqueryui/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-api.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-charts.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-history.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-exectable.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-index.js"></script>
    <script type="text/javascript">
		var contextURL = "${context}";
		var execution = ${jsonExecution};
      	var currentTime = ${currentTime};
      	var timezone = "${timezone}";
    </script>
    <script>
	  $(function() {
		$(".scheduled_date").datepicker({dateFormat: 'mm-dd-yy'});
		$("#ui-datepicker-div").css("display", "none");
		$("#tabs").tabs({ cookie: { expires: 30 } });
	  });
	</script>

</head>
<body>
  #parse( "azkaban/web/pages/nav.vm" )

  <div id="wrapper">
  <h2>All Jobs</h2>
  <form id="runSubmit" method="post" action="${context}/">
  <table id="all-jobs" class="job-table">
    <tbody>
    <tr>
      <th class="tb-spacer"></th>
      <th class="tb-name">Name</th>
      <th class="tb-uploaded-date">Date Uploaded</th>
      <th class="tb-uploaded-by">Uploaded By</th>
      <th class="tb-delete"></th>
      <th class="tb-spacer"></th>
    </tr>
    #foreach($folderName in $folderNames)
    <tr>
      <td class="tb-spacer"></td>
      <td class="tb-name">
        <div onclick="expandFlow(this)" id="$folderName">$folderName
        </div>
				<div id="${folderName}-panel" style="display: none">
					<table id="${folderName}-table" class="jobtreetable">
					</table>
				</div>
      </td>
      <td class="tb-uploaded-date"></td>
      <td class="tb-uploaded-by"></td>
      <td class="tb-delete">
        <button>Delete</button>
      </td>
      <td class="tb-spacer"></td>
    </tr>
    #end
    </tbody>
  </table>
  </form>

  <h2>Scheduled Jobs</h2>
  <table id="schedule-jobs" class="job-table">
    <tbody>
    <tr>
      <th class="tb-spacer"></th>
      <th class="tb-name">Name</th>
      <th class="tb-next-exec">Next Execution</th>
      <th class="tb-last-exec">Last Execution</th>
      <th class="tb-frequency">Frequency</th>
      <th class="tb-delete">Action</th>
      <th class="tb-spacer"></th>
    </tr>
    </tbody>
  </table>

  <h2>Executing</h2>
  #if($executing.size() == 0)
		No jobs currently executing.
  #end
  <table id="executing-jobs" class="job-table">
  </table>
  </div>

  <script type="text/javascript" src="${context}/static/js/azkaban-index.js"></script>
  </body>
</html>


