#parse( "azkaban/web/pages/header.vm" )

  </head>
  <body>
  #parse( "azkaban/web/pages/nav.vm" )
  
  <div id="wrapper">
    <div id="messaging"></div>
    <div class="action-bar">
      <h2>All Jobs</h2>
      
      <form method="get">
        <input type="hidden" name="action" value="search">
        <input type="submit" value="Search" class="search-btn">
        <input type="text" placeholder="by job name or wildcard" value="" class="search-input" name="job">
      </form>

      <a class="upload-job" href="#">Upload Job</a>
    </div>
  <form id="runSubmit" method="post" action="${context}/">

        <!--div>
					Run immediately
					(<input name="include_deps" id="withdep" type="checkbox" checked /> with dependencies)
					<input type="submit" name="run_now" value="Run"/>
					<input id="submitType" type="hidden" />
				</div-->

		<!--div>
					            <input type="hidden" name="action" value="schedule"/>
					            Schedule to run at 
					            <input name="hour" type="text" size="2" value="12"/> :
					            <input name="minutes" type="text" size="2" value="00"/>
					            <select name="am_pm">
					              <option>pm</option>
					              <option>am</option>
					            </select>
					            $utils.shortTimeZone
					            on
					            <input class="scheduled_date" type="text" name="date" size="10" value="$utils.formatDate($utils.now())"/>
					            and 
					            <input name="is_recurring" type="checkbox" checked  />
					            repeat every
					            <input name="period" type="text" size="2" value="1"/>
					            <select name="period_units">
					              <option value="d">Days</option>
					              <option value="h">Hours</option>
					              <option value="m">Minutes</option>
					              <option value="s">Seconds</option>
					            </select>
					            <input type="submit" name="schedule" value="Schedule"/>
				          </div-->


  <table id="all-jobs" class="job-table">
    <tbody>
    <tr>
      <th class="tb-spacer"></th>
      <th class="tb-name">Name</th>
      <th class="tb-uploaded-date">Date Uploaded</th>
      <th class="tb-uploaded-by">Uploaded By</th>
      <th class="tb-delete">Actions</th>
      <th class="tb-spacer"></th>
    </tr>
    #foreach($folderName in $folderNames)
    <tr id="${folderName}-row" class="row">
      <td class="tb-spacer"></td>
      <td class="tb-name">
        <div class="jobfolder expand" onclick="expandFlow(this)" id="$folderName">
          <span class="state-icon"></span>
          $folderName
        </div>
				<div id="${folderName}-panel" style="display: none">
					<table id="${folderName}-table" class="jobtreetable">
					</table>
				</div>
      </td>
      <td class="tb-uploaded-date"></td>
      <td class="tb-uploaded-by"></td>
      <td class="tb-delete">
        <a name="$folderName" class="delete">Delete</a>
      </td>
      <td class="tb-spacer"></td>
    </tr>
    #end
    </tbody>
  </table>
  </form>
  </div>

<!-- modal content -->
		<div id="confirm">
			<h3>Delete Job</h3>
			<div class="message"></div>
			<div class="actions">
        <a class='confirm yes' href="#">Delete Job</a>
				<a class='no simplemodal-close cancel' href="#">Cancel</a>
			</div>
		</div>
  
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.jstree.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery/jquery.tools.min.js"></script>
    <script type="text/javascript" src="${context}/static/js/jqueryui/jquery.ui.datepicker.min.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery-treeview/jquery.treeview.js"></script>
    <script type="text/javascript" src="${context}/static/js/jqueryui/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-api.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-charts.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-history.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-exectable.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-index.js"></script>
    <script type="text/javascript" src="${context}/static/js/azkaban-new.js"></script>
    <script type="text/javascript" src="${context}/static/js/jquery.simplemodal.js"></script>
    <script type="text/javascript">
		var contextURL = "${context}";
		var execution = ${jsonExecution};
      	var currentTime = ${currentTime};
      	var timezone = "${timezone}";
    </script>
    <script>
	  $(function() {
		$(".scheduled_date").datepicker({dateFormat: 'mm-dd-yy'});
		$("#ui-datepicker-div").css("display", "none");
		$("#tabs").tabs({ cookie: { expires: 30 } });
	  });
	</script>

  </body>
</html>


