  <div class="header">
    <h1><a href="${context}/">Azkaban</a></h1>
    <div class="envir">
      <p class="envir-name">HEARTS</p>
      <p>Esv4 Dev Cluster</p>
    </div>
    <ul class="nav">
      <li class="selected"><a href="${context}/">All Jobs</a></li>
      <li><a href="#schedule-tab">Scheduled</a></li>
      <li><a href="$!context/history">Executing</a></li>
      <li><a href="$!context/history">History</a></li>
      <li><a href="$!context/fs">HDFS</a></li>
    </ul>
  </div>
