/* GLOBAL RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; -webkit-text-size-adjust: 100%; }
ol, ul {list-style: none;}
table {border-collapse: separate; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
input[data-ime-mode-disabled] { ime-mode: disabled !important; }
input[type=file] { ime-mode: disabled !important; }

body {
/* remove the important after we remove the legacy css files */
  background-color: #f0f0f0 !important;
  color: #000 !important;
  font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

.header {
  border-top: 5px solid #f80700;
  height: 80px;

  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
  background: linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
  padding: 0 4.1666667%;
  width: 100%;
}

.header h1 {
  background: url(../../images/logo.png) top left no-repeat;
  float: left;
  font-size: 162.5%;
  font-weight: bold;  
  margin: 14px 0;
  padding: 7px 0 7px 50px;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.header .selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.header .selected a {
  border-bottom: 1px solid #f80700;
  font-weight: bold;
}

.envir {
  color: #8c8c8c;
  float: left;
  margin: 26px 9.75% 0 10px;
}

.envir {
  font-size: 81.25%;
}

.envir-name {
  color: #ff3000;
  font-size: 153.85%;
  font-weight: bold;
}

.nav {
  float: left;
  font-size: 87.5%;
  overflow: hidden;
}

.nav li {
  float: left;
  padding: 35px 15px;
}

#wrapper {
  margin: 0 4.1666667%;
}

.job-table {
  border-left: 1px solid #ababab;
  border-right: 1px solid #ababab;
  width: 100%;
}

.job-table th {
  background-color: #444;
  color: #fff;
  font-size: 81.25%;
  font-weight: bold;
  padding: 5px 1.25%;
}

.job-table td {
  background-color: #fff;
  font-size: 14px;
  padding: 5px 1.25%;
  border-bottom: 1px solid #ababab;
  border-right: 1px solid #ababab;
}

.job-table tr:hover td {
  background-color: #F3FFFF;
}

.job-table .tb-spacer {
  border-right: none;
  width: 3.1818182%;
}

.job-table .tb-delete {
  border-right: none;
  width: 7.7272727%;
}

.job-table .tb-uploaded-by {
  border-right: none;
  width: 10.636364%;
}

.tb-uploaded-date {
  width: 16.363636%;
}

.jobtreetable td {
  border-right: none;
}

.state-icon {
  background-image: url("../../js/jqueryui/themes/custom-theme/images/ui-icons_cccccc_256x240.png");
  cursor: pointer;
  display: block;
  float: left;
  height: 16px;
  margin-right: 5px;
  width: 16px;
}

.collapse .state-icon {
	background-position: 0 -16px;
}

.expand .state-icon {
	background-position: -32px -16px;
}

.wait .state-icon {
	background-position: -64px -80px
}

.azkaban-charts,
.azkaban-charts td {
	width: 100%;
}

.azkaban-charts td {
  border: none;
  padding: 0;
}

.treeline {
	background: url(../../images/treeview-default-line.gif) 0 0 no-repeat;
	float: left;
	height: 22px;
  width: 16px;
}

.treeline.last { background-position: 0 -1766px }

#messaging {
  color: #fff;
  display: none;
  font-weight: bold;
  padding: 10px 0;
  text-align: center;
}

#messaging.success {
  background-color: #799123;
  display: block;
}

#messaging.error {
  background-color: #F80700;
  display: block;
}

.action-bar {
  background-color: #E0E0E0;
  overflow: hidden;
  padding: 27px 2.3636364%;
}

.action-bar h2 {
  float: left;
  font-weight: bold;
}

.confirm,
.cancel,
.delete {
  background: -moz-linear-gradient(center top , white 0pt, #ECECEC 100%) repeat scroll 0 0 transparent;
  border-color: #ccc;
  color: #585858;
  display: inline-block;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.35;
  margin: 0;
  overflow: visible;
  padding: 3px 10px 2px;
  text-decoration: none;
  vertical-align: top;
  width: auto;
}

.confirm {
  background: -moz-linear-gradient(center top , #73AEC9 0pt, #73AEC9 1px, #338AB0 1px, #0571A6 100%) repeat scroll 0 0 transparent;
  border-color: #045A8B;
  color: #fff;
  float: right;
  margin-left: 10px;
}

.upload-job {
  background: -moz-linear-gradient(center top , #AFD47B 0pt, #AFD47B 1px, #8BC03F 1px, #69A219 100%) repeat scroll 0 0 transparent;
  border-color: #669933;
  border-radius: 3px 3px 3px 3px;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 12px;
  line-height: 1.35;
  margin-right: 25px;
  padding: 3px 10px 2px;
  text-decoration: none;
}

.search-input {
  border: 1px solid;
  border-color: #7C7C7C #C3C3C3 #DDDDDD;
  float: right;
  height: 16px;
  line-height: 12px;
  padding: 4px 2px 0;
  width: 310px;
}

.search-btn {
  background: url(http://static01.linkedin.com/scds/common/u/img/sprite/sprite_global_v6.png) repeat-x scroll 0 -1130px #DCDCDC;
  border: 1px solid #999;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: none;
  color: #666;
  float: right;
  font-weight: bold;
  height: 22px;
}

.joblist {
  float: left;
  margin-left: 10px;
  overflow: hidden;
}

.joblist a {
  color: #006699;
  padding-left: 15px;
}

.joblist .job-name {
  color: #666;
  text-decoration: none;
}

.joblist .hidden {
  display: none;
}

#confirm {
  background-color: #fff;
  border: 1px solid #9c9c9c;
  border-radius: 10px;
  display: none;
  overflow: hidden;
  padding: 20px;
  width: 560px;
}

#confirm h3 {
  border-bottom: 1px solid #d0d0d0;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 8px;
}

#confirm .actions {
/*  background-color: #f0f0f0;*/
  margin-top: 10px;
}

#confirm .cancel {
  float: right;
}

.modal-close {
  color: #666;
  font-weight: bold;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 17px;
}
/* old styles */

.azkaban-charts .hitarea {
	background-image: url("../../js/jqueryui/themes/custom-theme/images/ui-icons_cccccc_256x240.png");
	background-position: 0 -16px;
	height: 16px;
  margin-left: 15px;
	width: 16px;
	cursor: pointer;
}

.azkaban-charts .expandable-hitarea { 	background-position: -32px -16px; }
.azkaban-charts .expandable-hitarea.collapse { 	background-position: 0 -16px; }
